header.mb-4
  nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
    .container
      a.navbar-brand(href='#') Github Jobs Clone
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='/') All Jobs