extends layout

include includes/mixins

block content
  include includes/header.pug
  include includes/search_form.pug
  
  section
    .container
      ul.list-unstyled
        each job, index in jobs
          +job_card(job)
        else
          li.h4 Nothing found.
