doctype html
html(lang="en")
  head
    title= title || 'Github Jobs Clone'
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block head
      link(rel="stylesheet", href="/css/bootstrap.min.css")
      link(rel="stylesheet", href="/css/style.css")
  body
    block content

    block foot
      script(src="/js/jquery-3.5.1.slim.min.js")
      script(src="/js/popper.min.js")
      script(src="/js/bootstrap.min.js")
      script(src="/js/main.js")